
.header{
    background-color: black;
    color:white;
    text-align: center;
    margin-top: 20px;
}
input{
   width: 80%;
   height:13%;
   padding: 9px;

}
.delete-item{
    color: orange;
    font-weight: bold;
    font-size: 21px;
    margin-left: 17px;
}

.delete-all{
    padding:4px;
    border-radius: 2px;
}